{* Latte template *}

{block content}
    <link rel="stylesheet" media="screen" href="assets/style.css" />
    {control containers}
    <a n:href="Homepage:default">Návrat do hlavního menu</a>
{/block }
