{* Latte template *}
{block content}
    <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" />
    <table style="margin: 0px auto; padding: 0px" >
        <tr><td>
            {control bootstrap2Rendering}
        </td></tr>
        <tr><td>
            <div style ="text-align: center"><a n:href="Homepage:default"> Návrat do hlavního menu</a></div>
        <td></tr>   
    </table>
{/block}
