{block content}
<div style="top: 0px; margin-top: 60px"></div>
<table style="margin: 0px auto">
    <td>
        {control basicExample}
    </td>
</table>
    
    
    <a n:href="Homepage:default">Návrat do hlavního menu</a>
{/block}
