{* Latte template *}

{block content}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {control bootstrap3rendering}
    <a n:href="Homepage:default">Návrat do hlavního menu</a>
{/block}
