{* Latte template *}

{block content}
    <link rel="stylesheet" href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
     <table style="margin: 0px auto; padding: 0px;" >
        <tr><td>
            {control bootstrap4rendering}
        </td></td>
        <tr><td>
            <div style ="text-align: center"><a n:href="Homepage:default"> Návrat do hlavního menu</a></div>
        <td></tr>   
     </table>
{/block }

